=f.label :title
=f.text_field :title
%br
=f.label :description
=f.text_area :description
%br
=f.label :condition
=f.text_field :condition
%br
=f.label	:price
=f.number_field :price
=f.label "Be sure to enter in dollars and cents(9.99):"
%br
=f.submit "Add"
